In [43]:
import pandas as pd

In [44]:
df_results = pd.read_csv('files/input/results.csv')

In [45]:
continents = {
    "Afghanistan": "Asia",
    "Egypt": "Africa",
    "Albania": "Europe",
    "Algeria": "Africa",
    "American Samoa": "Oceania",
    "Andorra": "Europe",
    "Angola": "Africa",
    "Anguilla": "North America",
    "Antigua and Barbuda": "North America",
    "Equatorial Guinea": "Africa",
    "Argentina": "South America",
    "Armenia": "Asia",
    "Aruba": "North America",
    "Azerbaijan": "Asia",
    "Ethiopia": "Africa",
    "Australia": "Oceania",
    "Bahamas": "North America",
    "Bahrain": "Asia",
    "Bangladesh": "Asia",
    "Barbados": "North America",
    "Belarus": "Europe",
    "Belgium": "Europe",
    "Belize": "North America",
    "Benin": "Africa",
    "Bermuda": "North America",
    "Bhutan": "Asia",
    "Bolivia": "South America",
    "Bosnia and Herzegovina": "Europe",
    "Botswana": "Africa",
    "Brazil": "South America",
    "Brunei Darussalam": "Asia",
    "Bulgaria": "Europe",
    "Burkina Faso": "Africa",
    "Burundi": "Africa",
    "Cayman Islands": "North America",
    "Chile": "South America",
    "China": "Asia",
    "Cook Islands": "Oceania",
    "Costa Rica": "North America",
    "Curaçao": "North America",
    "Denmark": "Europe",
    "Germany": "Europe",
    "Dominica": "North America",
    "Dominican Republic": "North America",
    "Djibouti": "Africa",
    "Ecuador": "South America",
    "El Salvador": "North America",
    "Ivory Coast": "Africa",
    "England": "Europe",
    "Eritrea": "Africa",
    "Estonia": "Europe",
    "Eswatini": "Africa",
    "Faroe Islands": "Europe",
    "Fiji": "Oceania",
    "Finland": "Europe",
    "France": "Europe",
    "Gabon": "Africa",
    "Gambia": "Africa",
    "Georgia": "Asia",
    "Ghana": "Africa",
    "Gibraltar": "Europe",
    "Grenada": "North America",
    "Greece": "Europe",
    "Guam": "Oceania",
    "Guatemala": "North America",
    "Guyana": "South America",
    "Guinea": "Africa",
    "Guinea-Bissau": "Africa",
    "Haiti": "North America",
    "Honduras": "North America",
    "Hong Kong": "Asia",
    "India": "Asia",
    "Indonesia": "Asia",
    "Iraq": "Asia",
    "Iran": "Asia",
    "Ireland": "Europe",
    "Iceland": "Europe",
    "Israel": "Asia",
    "Italy": "Europe",
    "Jamaica": "North America",
    "Japan": "Asia",
    "Yemen": "Asia",
    "Jordan": "Asia",
    "U.S. Virgin Islands": "North America",
    "British Virgin Islands": "North America",
    "Cambodia": "Asia",
    "Cameroon": "Africa",
    "Canada": "North America",
    "Cape Verde": "Africa",
    "Kazakhstan": "Asia",
    "Qatar": "Asia",
    "Kenya": "Africa",
    "Kyrgyzstan": "Asia",
    "Colombia": "South America",
    "Comoros": "Africa",
    "Kosovo": "Europe",
    "Democratic Republic of the Congo": "Africa",
    "Republic of the Congo": "Africa",
    "North Korea": "Asia",
    "South Korea": "Asia",
    "Croatia": "Europe",
    "Cuba": "North America",
    "Kuwait": "Asia",
    "Laos": "Asia",
    "Lesotho": "Africa",
    "Latvia": "Europe",
    "Lebanon": "Asia",
    "Liberia": "Africa",
    "Libya": "Africa",
    "Liechtenstein": "Europe",
    "Lithuania": "Europe",
    "Luxembourg": "Europe",
    "Macau": "Asia",
    "Madagascar": "Africa",
    "Malawi": "Africa",
    "Malaysia": "Asia",
    "Maldives": "Asia",
    "Mali": "Africa",
    "Malta": "Europe",
    "Morocco": "Africa",
    "Mauritania": "Africa",
    "Mauritius": "Africa",
    "Mexico": "North America",
    "Moldova": "Europe",
    "Mongolia": "Asia",
    "Montenegro": "Europe",
    "Montserrat": "North America",
    "Mozambique": "Africa",
    "Myanmar": "Asia",
    "Namibia": "Africa",
    "Nepal": "Asia",
    "New Caledonia": "Oceania",
    "New Zealand": "Oceania",
    "Nicaragua": "North America",
    "Netherlands": "Europe",
    "Niger": "Africa",
    "Nigeria": "Africa",
    "Northern Ireland": "Europe",
    "North Macedonia": "Europe",
    "Norway": "Europe",
    "Oman": "Asia",
    "Austria": "Europe",
    "East Timor": "Asia",
    "Pakistan": "Asia",
    "Palestine": "Asia",
    "Panama": "North America",
    "Papua New Guinea": "Oceania",
    "Paraguay": "South America",
    "Peru": "South America",
    "Philippines": "Asia",
    "Poland": "Europe",
    "Portugal": "Europe",
    "Puerto Rico": "North America",
    "Rwanda": "Africa",
    "Romania": "Europe",
    "Russia": "Europe",
    "Saint Kitts and Nevis": "North America",
    "Saint Lucia": "North America",
    "Saint Vincent and the Grenadines": "North America",
    "Solomon Islands": "Oceania",
    "Zambia": "Africa",
    "Samoa": "Oceania",
    "San Marino": "Europe",
    "Sao Tome and Principe": "Africa",
    "Saudi Arabia": "Asia",
    "Scotland": "Europe",
    "Sweden": "Europe",
    "Switzerland": "Europe",
    "Senegal": "Africa",
    "Serbia": "Europe",
    "Seychelles": "Africa",
    "Sierra Leone": "Africa",
    "Zimbabwe": "Africa",
    "Singapore": "Asia",
    "Slovakia": "Europe",
    "Slovenia": "Europe",
    "Somalia": "Africa",
    "Spain": "Europe",
    "Sri Lanka": "Asia",
    "South Africa": "Africa",
    "Sudan": "Africa",
    "South Sudan": "Africa",
    "Suriname": "South America",
    "Syria": "Asia",
    "Tajikistan": "Asia",
    "Tahiti": "Oceania",
    "Taiwan": "Asia",
    "Tanzania": "Africa",
    "Thailand": "Asia",
    "Togo": "Africa",
    "Tonga": "Oceania",
    "Trinidad and Tobago": "North America",
    "Chad": "Africa",
    "Czech Republic": "Europe",
    "Tunisia": "Africa",
    "Turkey": "Asia",
    "Turkmenistan": "Asia",
    "Turks and Caicos Islands": "North America",
    "Uganda": "Africa",
    "Ukraine": "Europe",
    "Hungary": "Europe",
    "Uruguay": "South America",
    "Uzbekistan": "Asia",
    "Vanuatu": "Oceania",
    "Venezuela": "South America",
    "United Arab Emirates": "Asia",
    "United States": "North America",
    "Vietnam": "Asia",
    "Wales": "Europe",
    "Central African Republic": "Africa",
    "Cyprus": "Asia"
}

In [46]:
# Add home_continent and away_continent columns
df_results['home_continent'] = df_results['home_team'].map(continents, 'ignore')
df_results['away_continent'] = df_results['away_team'].map(continents, 'ignore')

In [47]:
df_results["home_continent"] = df_results["home_continent"].fillna("Country not in Fifa Ranking")
df_results["away_continent"] = df_results["away_continent"].fillna("Country not in Fifa Ranking")

# Display the updated dataframe
display(df_results)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,home_continent,away_continent
0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False,Europe,Europe
1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False,Europe,Europe
2,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False,Europe,Europe
3,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False,Europe,Europe
4,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False,Europe,Europe
...,...,...,...,...,...,...,...,...,...,...,...
47121,2024-07-06,NaN,NaN,NaN,NaN,UEFA Euro,Düsseldorf,Germany,True,Country not in Fifa Ranking,Country not in Fifa Ranking
47122,2024-07-06,NaN,NaN,NaN,NaN,UEFA Euro,Berlin,Germany,True,Country not in Fifa Ranking,Country not in Fifa Ranking
47123,2024-07-09,NaN,NaN,NaN,NaN,UEFA Euro,Munich,Germany,True,Country not in Fifa Ranking,Country not in Fifa Ranking
47124,2024-07-10,NaN,NaN,NaN,NaN,UEFA Euro,Dortmund,Germany,True,Country not in Fifa Ranking,Country not in Fifa Ranking
47125,2024-07-14,NaN,NaN,NaN,NaN,UEFA Euro,Berlin,Germany,True,Country not in Fifa Ranking,Country not in Fifa Ranking

In [48]:
# Zeilen zum Wegschmeißen
no_country_in_fifa_ranking_both = df_results[(df_results["home_continent"] == "Country not in Fifa Ranking") & (df_results["away_continent"] == "Country not in Fifa Ranking")]
display(no_country_in_fifa_ranking_both)
df_results = df_results.drop(no_country_in_fifa_ranking_both.index)
display(df_results)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,home_continent,away_continent
174,1905-04-17,Guernsey,Alderney,6.0,0.0,Muratti Vase,Guernsey,Guernsey,False,Country not in Fifa Ranking,Country not in Fifa Ranking
175,1905-04-27,Jersey,Guernsey,0.0,1.0,Muratti Vase,Jersey,Jersey,False,Country not in Fifa Ranking,Country not in Fifa Ranking
184,1906-03-29,Jersey,Guernsey,1.0,2.0,Muratti Vase,Jersey,Jersey,False,Country not in Fifa Ranking,Country not in Fifa Ranking
187,1906-04-02,Guernsey,Alderney,1.0,0.0,Muratti Vase,Guernsey,Guernsey,False,Country not in Fifa Ranking,Country not in Fifa Ranking
201,1907-03-21,Alderney,Jersey,1.0,2.0,Muratti Vase,Guernsey,Guernsey,True,Country not in Fifa Ranking,Country not in Fifa Ranking
...,...,...,...,...,...,...,...,...,...,...,...
47121,2024-07-06,NaN,NaN,NaN,NaN,UEFA Euro,Düsseldorf,Germany,True,Country not in Fifa Ranking,Country not in Fifa Ranking
47122,2024-07-06,NaN,NaN,NaN,NaN,UEFA Euro,Berlin,Germany,True,Country not in Fifa Ranking,Country not in Fifa Ranking
47123,2024-07-09,NaN,NaN,NaN,NaN,UEFA Euro,Munich,Germany,True,Country not in Fifa Ranking,Country not in Fifa Ranking
47124,2024-07-10,NaN,NaN,NaN,NaN,UEFA Euro,Dortmund,Germany,True,Country not in Fifa Ranking,Country not in Fifa Ranking
47125,2024-07-14,NaN,NaN,NaN,NaN,UEFA Euro,Berlin,Germany,True,Country not in Fifa Ranking,Country not in Fifa Ranking

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,home_continent,away_continent
0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False,Europe,Europe
1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False,Europe,Europe
2,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False,Europe,Europe
3,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False,Europe,Europe
4,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False,Europe,Europe
...,...,...,...,...,...,...,...,...,...,...,...
47106,2024-06-25,France,Poland,NaN,NaN,UEFA Euro,Dortmund,Germany,True,Europe,Europe
47107,2024-06-26,Slovakia,Romania,NaN,NaN,UEFA Euro,Frankfurt,Germany,True,Europe,Europe
47108,2024-06-26,Ukraine,Belgium,NaN,NaN,UEFA Euro,Stuttgart,Germany,True,Europe,Europe
47109,2024-06-26,Georgia,Portugal,NaN,NaN,UEFA Euro,Gelsenkirchen,Germany,True,Asia,Europe
47110,2024-06-26,Czech Republic,Turkey,NaN,NaN,UEFA Euro,Hamburg,Germany,True,Europe,Asia

In [49]:
df_results["date"] = pd.to_datetime(df_results["date"])
df_em2024 = df_results[(df_results["tournament"] == "UEFA Euro") & (df_results["date"].dt.year == 2024)]
df_results = df_results.drop(df_em2024.index)
display(df_results)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,home_continent,away_continent
0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False,Europe,Europe
1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False,Europe,Europe
2,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False,Europe,Europe
3,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False,Europe,Europe
4,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False,Europe,Europe
...,...,...,...,...,...,...,...,...,...,...,...
47070,2024-03-26,Scotland,Northern Ireland,0.0,1.0,Friendly,Glasgow,Scotland,False,Europe,Europe
47071,2024-03-26,Senegal,Benin,1.0,0.0,Friendly,Amiens,France,True,Africa,Africa
47072,2024-03-26,Slovenia,Portugal,2.0,0.0,Friendly,Ljubljana,Slovenia,False,Europe,Europe
47073,2024-03-26,Spain,Brazil,3.0,3.0,Friendly,Madrid,Spain,False,Europe,South America
47074,2024-03-26,Finland,Estonia,2.0,1.0,Friendly,Helsinki,Finland,False,Europe,Europe

In [50]:
df_em2024 = df_results[(df_results["tournament"] == "UEFA Euro") & (df_results["date"].dt.year == 2024)]
display(df_em2024)
df_results = df_results.drop(df_em2024.index)

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score, tournament, city, country, neutral, home_continent, away_continent]
Index: []

In [51]:
df_results["winning_country"] = df_results.apply(lambda x: x["home_team"] if x["home_score"] > x["away_score"] else "Unentschieden" if x["home_score"] == x["away_score"] else x["away_team"], axis=1)

In [52]:
df_results["winning_continent"] = df_results.apply(lambda x: x["home_continent"] if x["home_score"] > x["away_score"] else "Unentschieden" if x["home_score"] == x["away_score"] else x["away_continent"], axis=1)

In [53]:
display(df_results)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,home_continent,away_continent,winning_country,winning_continent
0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False,Europe,Europe,Unentschieden,Unentschieden
1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False,Europe,Europe,England,Europe
2,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False,Europe,Europe,Scotland,Europe
3,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False,Europe,Europe,Unentschieden,Unentschieden
4,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False,Europe,Europe,Scotland,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...
47070,2024-03-26,Scotland,Northern Ireland,0.0,1.0,Friendly,Glasgow,Scotland,False,Europe,Europe,Northern Ireland,Europe
47071,2024-03-26,Senegal,Benin,1.0,0.0,Friendly,Amiens,France,True,Africa,Africa,Senegal,Africa
47072,2024-03-26,Slovenia,Portugal,2.0,0.0,Friendly,Ljubljana,Slovenia,False,Europe,Europe,Slovenia,Europe
47073,2024-03-26,Spain,Brazil,3.0,3.0,Friendly,Madrid,Spain,False,Europe,South America,Unentschieden,Unentschieden
47074,2024-03-26,Finland,Estonia,2.0,1.0,Friendly,Helsinki,Finland,False,Europe,Europe,Finland,Europe